#!/usr/bin/make -f

$(foreach line,$(shell sed -n '\
  s/^ gnat, gnat-\([0-9.]\+\),$$/ \
    gnat_version:=\1 \
  /p;\
  s/^Package: \(libanet\([0-9.]\+\)\)$$/ \
    lib_pkg:=\1 \
    soversion:=\2 \
  /p;\
  s/^Package: \(libanet[0-9.]\+-dev\)$$/ \
    dev_pkg:=\1 \
  /p;\
  ' debian/control),$(eval $(line)))

DEB_BUILD_MAINT_OPTIONS := hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/architecture.mk
include /usr/share/dpkg/buildflags.mk
include /usr/share/ada/debian_packaging-$(gnat_version).mk

export GNAT_BUILDER_FLAGS = $(BUILDER_OPTIONS)

ifeq ($(DEB_HOST_ARCH_OS),kfreebsd)
MAKE_OPTS += OS=bsd
endif

%:
	dh ${@}

override_dh_auto_build:
	$(MAKE) $(MAKE_OPTS) LIBRARY_KIND=dynamic
	$(MAKE) $(MAKE_OPTS) LIBRARY_KIND=static
ifeq (,$(filter nodoc,$(DEB_BUILD_OPTIONS)))
	$(MAKE) doc
endif

override_dh_auto_install:
	$(MAKE) $(MAKE_OPTS) PREFIX=$(CURDIR)/debian/tmp install
	$(MAKE) $(MAKE_OPTS) LIBRARY_KIND=static PREFIX=$(CURDIR)/debian/tmp install
	rm -rf debian/tmp/lib/gnat

override_dh_auto_test:
	$(MAKE) $(MAKE_OPTS) tests

override_dh_install: debian/anet.gpr
	dh_install -p$(lib_pkg) lib/libanet.so.$(soversion) usr/lib/$(DEB_HOST_MULTIARCH)
	dh_install -p$(dev_pkg) lib/libanet.so usr/lib/$(DEB_HOST_MULTIARCH)
	dh_install -p$(dev_pkg) lib/libanet.a usr/lib/$(DEB_HOST_MULTIARCH)
	dh_install -p$(dev_pkg) lib/anet/*.ali usr/lib/$(DEB_HOST_MULTIARCH)/ada/adalib/anet
	dh_install -p$(dev_pkg) include/anet/*.ad[bs] usr/share/ada/adainclude/anet
	dh_install -p$(dev_pkg) debian/anet.gpr usr/share/gpr
	dh_missing --fail-missing

debian/anet.gpr: debian/template_anet.gpr
	sed s/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/ $< > $@

override_dh_installdocs: debian/$(dev_pkg).doc-base
	dh_installdocs -p$(dev_pkg) doc/html/*
	dh_installdocs --remaining-packages

debian/$(dev_pkg).doc-base: debian/template_libanet-dev.doc-base
	sed s/@dev_pkg@/$(dev_pkg)/ $< > $@

override_dh_compress:
	dh_compress -X.ads -X.adb -XMakefile

override_dh_clean:
	dh_clean debian/$(dev_pkg).doc-base debian/anet.gpr
